/* Add your global styles or import any necessary CSS frameworks here */

article {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .p-4 {
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  